# Neon Connection String (Pooled)
# e.g., postgres://user:password@endpoint-pooler.neon.tech/dbname?sslmode=require&pgbouncer=true
DATABASE_URL="postgres://user:password@endpoint-pooler.neon.tech/dbname?sslmode=require&pgbouncer=true"

# Neon Direct Connection String (Unpooled, for migrations)
# e.g., postgres://user:password@endpoint.neon.tech/dbname?sslmode=require
DIRECT_URL="postgres://user:password@endpoint.neon.tech/dbname?sslmode=require"

PORT=4000
JWT_SECRET="super-secret-jwt-key"
